* {
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}

.background {
    background-color: #12181B;
    height: 115vh;
    padding-top: 1px;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: #09C372;
}

.playerO {
    color: #498AFB;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 0px;
    border: none;
    font-size: 20px;
    margin-left: 0em;
    cursor: pointer;
	width: 300px;
	margin-bottom: 10px;
}

.menu{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.menu button {
    color: white;
    padding: 8px;
    border-radius: 0px;
    border: none;
    font-size: 20px;
    margin-left: 0em;
    cursor: pointer;
	width: 300px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: 5px solid white;
	background-color: #12181B;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: #FF3860;
	font-weight: 2px;
	box-sizing: border-box;
	border: 5px solid white;
	background-color: #12181B;
}

#difficulty{
	background-color: #12181B;
}

#return{
	background-color: white;
	color: #12181B;
}